<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.minesoft.minetv">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="tech.minesoft.minetv.MineApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tech.minesoft.minetv.MainActivity"
            android:banner="@drawable/app_icon_your_company"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tech.minesoft.minetv.page.detail.VodDetailActivity" />
        <activity android:name="tech.minesoft.minetv.page.search.MineSearchActivity" />
        <activity android:name="tech.minesoft.minetv.page.play.PlaybackActivity" />

        <!--        <activity-->
<!--                android:name="com.exyui.android.debugbottle.components.DTDrawerActivity"-->
<!--                android:theme="@style/Theme.AppCompat.Light"-->
<!--                android:label="MineTV Debugger" />-->
    </application>

</manifest>